{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hospital list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key, entity in entities %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td><a href="{{ path('hospital_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.phone }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('hospital_show', { 'id': entity.id }) }}">Show Hospital</a>
                    </li>
                    <li>
                        <a href="{{ path('hospital_edit', { 'id': entity.id }) }}">Edit Hospital</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('hospital_new') }}">
                Add a Hospital
            </a>
        </li>
    </ul>
    {% endblock %}
