{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Is_admin</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key, entity in entities %}
            <tr>
                <td>{{ key + 1 }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td><a href="{{ path('users_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{% if entity.isadmin == true %}{{'Yes'}}{% else %}{{'No'}}{% endif %}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('users_show', { 'id': entity.id }) }}">Show User</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('users_new') }}">
                Add a new User
            </a>
        </li>
    </ul>
    {% endblock %}
